<div th:fragment="footer_cliente">
	<footer>
	        <div class="footer-links">
	            <a href="/usuarios/home">Inicio</a>
	            <a href="/usuarios/nosotros">Nosotros</a>
	            <a href="/usuarios/contactos">Contáctanos</a>
	            <a href="/usuarios/productos">Productos</a>
	            <a href="/usuarios/servicios">Servicios</a>
	            <a href="#">Tiendas Tecnológicas</a>
	        </div>
	        <div class="social-icons">
	            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
	            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
	            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
	            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
	        </div>
	        <p class="text-center mt-3">&copy; 2024 TechWare. Todos los derechos reservados.</p>
	    </footer>
</div>