<div th:fragment="navbar_cliente">
	<nav class="navbar navbar-expand-lg navbar-custom">
	        <div class="container">
	            <a class="navbar-brand" href="#">
	                <img src="/tec/logon.jpg" alt="Techware Logo">
	                <span>TechWare</span>
	            </a>
	            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            <div class="collapse navbar-collapse" id="navbarNav">
	                <ul class="navbar-nav">
	                    <li class="nav-item"><a class="nav-link active" th:href="@{/usuarios/home}">Inicio</a></li>
	                    <li class="nav-item"><a class="nav-link" th:href="@{/usuarios/nosotros}">Nosotros</a></li>
	                    <li class="nav-item"><a class="nav-link" th:href="@{/usuarios/contactos}">Contáctanos</a></li>
	                    <li class="nav-item"><a class="nav-link" th:href="@{/usuarios/productos}">Productos</a></li>
	                    <li class="nav-item"><a class="nav-link" th:href="@{/usuarios/servicios}">Servicios</a></li>
	                    <li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesión</a></li>
	                </ul>
	            </div>
	        </div>
	    </nav>
</div>