<!-- Contenedor con Sidebar -->
   <div th:fragment="sidebar">   
        <!-- Sidebar -->
            <div class="sidebar p-3">
                <h4>Menú</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/usuarios/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/usuarios">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/productos/listar">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/proveedores">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/categorias/listar">Categorias</a>
                    </li>
                </ul>
            </div>
   </div>